body {
    padding: 0;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    background-image: url("https://github.com/aroarian/Basic-Portfolio/blob/master/assets/images/Untitled.jpg?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    
}

a:link {
    color: #0f2694;
    text-decoration: none;
}

a:hover {
    font-size: 17px;
    text-decoration: none;
    
}

a:visited {
    color: #0f2694;
    text-decoration: none;
}

a:active {
    color: #0f2694;
    text-decoration: none; 
}
.header {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #cccccc;
    background-color:#ffffff;
    
}

.name {
    height: 75px;
    width: 220px;
    background-color: #0f2694;
    margin-top: 25px;
    margin-left: 18.7%;
    text-align: center;
    vertical-align: middle;
    line-height: 75px; 
    font-family: Georgia;
    font-weight: bold;
    font-size: 24px;
    color: #ecedf0;
    float: left;
}

.nav {
    width: 300px;
    height: 25px;
    margin-left: 64%;
    text-align: center;
    vertical-align: middle;
    padding-top: 45px;
    line-height: 25px; 
    
}

.button {
    display: inline-block;
    color: #0f2694;
    font-weight: bold;
    margin: 5px;
    height: 25px;
}

#about {
    width: 60px;
    text-align: left;
    border-right: 1px solid #cccccc;
    
}

#port {
    width: 85px;
    text-align: left;
    border-right: 1px solid #cccccc;
    
}

#contact {
    width: 78px;
    text-align: left;
       
}

.container {
    width: 960px;
    height: 600px;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    
}

.footer {
    width: 100%;
    height: 70px;
    margin-top: 75px;
    background-color: #666666;
    border-top: 8px solid #0f2694; 
    text-align: center;
    vertical-align: bottom;
    line-height: 110px;
    font-size: 12px;
    color: #cccccc;
}