body {
    padding: 0;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    background-image: url("assets/images/wallpaper.jpg"); 
}

.header {
    width: 100%;
    height: 100;
    border-bottom: 1px;
    border-style: solid;
    border-color: #cccccc;
}

.name {

}